USE [master]
GO
/****** Object:  Database [RMDB]    Script Date: 05/15/2015 15:30:23 ******/
CREATE DATABASE [RMDB] ON  PRIMARY 
( NAME = N'RM_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\RMDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RM_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\RMDB_1.LDF' , SIZE = 5248KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMDB]
GO
/****** Object:  UserDefinedDataType [dbo].[Double]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[Double] FROM [decimal](10, 2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Name(Max)]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[Name(Max)] FROM [varchar](max) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Name(50)]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[Name(50)] FROM [varchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Name(200)]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[Name(200)] FROM [varchar](200) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Name(20)]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[Name(20)] FROM [varchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[ID]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[ID] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[Date]    Script Date: 05/15/2015 15:30:23 ******/
CREATE TYPE [dbo].[Date] FROM [datetime] NULL
GO
/****** Object:  Table [dbo].[Base_Button]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Button](
	[Button_ID] [dbo].[Name(50)] NOT NULL,
	[Button_Name] [dbo].[Name(50)] NULL,
	[Button_Title] [dbo].[Name(50)] NULL,
	[Button_Img] [dbo].[Name(50)] NULL,
	[Button_Code] [dbo].[Name(200)] NULL,
	[SortCode] [dbo].[ID] NULL,
	[Button_Type] [dbo].[Name(50)] NULL,
	[Button_Remak] [dbo].[Name(200)] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_BUTTON] PRIMARY KEY NONCLUSTERED 
(
	[Button_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'按钮图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_Img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Button_Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'Button_Remak'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'权限按钮操作' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Button'
GO
INSERT [dbo].[Base_Button] ([Button_ID], [Button_Name], [Button_Title], [Button_Img], [Button_Code], [SortCode], [Button_Type], [Button_Remak], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'a08fee4b-98c1-4974-be4a-5dbcc0820cbd', N'新 增', N'新 增', N'add.png', N'add()', 1, N'工具栏', N'', 1, CAST(0x0000A1970185C3B1 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
INSERT [dbo].[Base_Button] ([Button_ID], [Button_Name], [Button_Title], [Button_Img], [Button_Code], [SortCode], [Button_Type], [Button_Remak], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'067b2de9-037f-4bb9-8a41-285eb3fc7267', N'编 辑', N'编 辑', N'edit.png', N'edit()', 2, N'工具栏', N'', 1, CAST(0x0000A198000249D8 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_Button] ([Button_ID], [Button_Name], [Button_Title], [Button_Img], [Button_Code], [SortCode], [Button_Type], [Button_Remak], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'd6cdbfd6-017b-4639-8c2d-6fb63174b0a5', N'删 除', N'删 除', N'delete.png', N'Delete()', 3, N'工具栏', N'', 1, CAST(0x0000A1980003A1CA AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', CAST(0x0000A19B0183BE80 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
/****** Object:  Table [dbo].[Base_AppendPropertyInstance]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_AppendPropertyInstance](
	[PropertyInstance_ID] [dbo].[Name(50)] NOT NULL,
	[Property_Control_ID] [dbo].[Name(50)] NULL,
	[PropertyInstance_Value] [dbo].[Name(Max)] NULL,
	[PropertyInstance_Key] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_APPENDPROPERTYINSTANCE] PRIMARY KEY NONCLUSTERED 
(
	[PropertyInstance_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'属性实例主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendPropertyInstance', @level2type=N'COLUMN',@level2name=N'PropertyInstance_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'附加属性主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendPropertyInstance', @level2type=N'COLUMN',@level2name=N'Property_Control_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对象属性值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendPropertyInstance', @level2type=N'COLUMN',@level2name=N'PropertyInstance_Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对象业务属性主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendPropertyInstance', @level2type=N'COLUMN',@level2name=N'PropertyInstance_Key'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'资料属性实例' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendPropertyInstance'
GO
INSERT [dbo].[Base_AppendPropertyInstance] ([PropertyInstance_ID], [Property_Control_ID], [PropertyInstance_Value], [PropertyInstance_Key]) VALUES (N'77fe0b19-af91-48f6-9224-4ba73c65f576', N'User_maritalstatus', N'未婚', N'75d3664d-a161-42aa-b62a-a0e8ae25962e')
INSERT [dbo].[Base_AppendPropertyInstance] ([PropertyInstance_ID], [Property_Control_ID], [PropertyInstance_Value], [PropertyInstance_Key]) VALUES (N'9adb32cf-ea3b-41f0-b6ca-26fa15cf74d8', N'Education', N'本科', N'75d3664d-a161-42aa-b62a-a0e8ae25962e')
INSERT [dbo].[Base_AppendPropertyInstance] ([PropertyInstance_ID], [Property_Control_ID], [PropertyInstance_Value], [PropertyInstance_Key]) VALUES (N'096b1485-e64e-45b4-9b6c-354448d4dde7', N'IsDimission', N'在职', N'75d3664d-a161-42aa-b62a-a0e8ae25962e')
/****** Object:  Table [dbo].[Base_AppendProperty]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_AppendProperty](
	[Property_ID] [dbo].[Name(50)] NOT NULL,
	[Property_Function] [dbo].[Name(50)] NULL,
	[Property_FunctionUrl] [dbo].[Name(200)] NULL,
	[Property_Control_ID] [dbo].[Name(50)] NULL,
	[Property_Name] [dbo].[Name(50)] NULL,
	[Property_Control_Type] [dbo].[ID] NULL,
	[Property_Control_DataSource] [dbo].[Name(Max)] NULL,
	[Property_Control_Length] [dbo].[Name(50)] NULL,
	[Property_Control_Maxlength] [dbo].[ID] NULL,
	[Property_Control_Style] [dbo].[Name(50)] NULL,
	[Property_Control_Validator] [dbo].[Name(200)] NULL,
	[Property_Colspan] [dbo].[ID] NULL,
	[Property_Event] [dbo].[Name(200)] NULL,
	[SortCode] [dbo].[ID] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_APPENDPROPERTY] PRIMARY KEY NONCLUSTERED 
(
	[Property_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'附加属性主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所属功能' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Function'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'功能路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_FunctionUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控件ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'属性名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控件类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控件数据源' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_DataSource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控件长度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_Length'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最大长度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_Maxlength'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控件样式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_Style'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'验证控件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Control_Validator'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'合并列' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Colspan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'事件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'Property_Event'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'附加属性' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_AppendProperty'
GO
/****** Object:  Table [dbo].[Base_Recyclebin]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Recyclebin](
	[Recyclebin_ID] [dbo].[Name(50)] NOT NULL,
	[Recyclebin_Name] [dbo].[Name(50)] NULL,
	[Recyclebin_Database] [dbo].[Name(50)] NULL,
	[Recyclebin_Table] [dbo].[Name(50)] NULL,
	[Recyclebin_FieldKey] [dbo].[Name(50)] NULL,
	[Recyclebin_EventField] [dbo].[Name(50)] NULL,
	[Recyclebin_Remark] [dbo].[Name(Max)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_RECYCLEBIN] PRIMARY KEY NONCLUSTERED 
(
	[Recyclebin_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回收站主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'业务名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对应数据库' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_Database'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对应数据表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_Table'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对应字段主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_FieldKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'对应字段值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_EventField'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'Recyclebin_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'回收站' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Recyclebin'
GO
/****** Object:  Table [dbo].[Base_Organization]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Organization](
	[Organization_ID] [dbo].[Name(50)] NOT NULL,
	[Organization_Code] [dbo].[Name(20)] NULL,
	[Organization_Name] [dbo].[Name(50)] NULL,
	[Organization_InnerPhone] [dbo].[Name(20)] NULL,
	[Organization_OuterPhone] [dbo].[Name(20)] NULL,
	[Organization_Manager] [dbo].[Name(50)] NULL,
	[Organization_AssistantManager] [dbo].[Name(50)] NULL,
	[Organization_Fax] [dbo].[Name(20)] NULL,
	[Organization_Zipcode] [dbo].[Name(20)] NULL,
	[Organization_Address] [dbo].[Name(200)] NULL,
	[ParentId] [dbo].[Name(50)] NULL,
	[Organization_Remark] [dbo].[Name(200)] NULL,
	[SortCode] [dbo].[ID] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_ORGANIZATION] PRIMARY KEY NONCLUSTERED 
(
	[Organization_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'外线电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_InnerPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内线电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_OuterPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主负责人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Manager'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'副负责人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_AssistantManager'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'传真' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮政区号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Zipcode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父节点主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注说明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'Organization_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织机构、部门表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Organization'
GO
/****** Object:  Table [dbo].[Base_Roles]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_Roles](
	[Roles_ID] [dbo].[Name(50)] NOT NULL,
	[ParentId] [dbo].[Name(50)] NULL,
	[Roles_Name] [dbo].[Name(50)] NULL,
	[Role_Restriction] [dbo].[Name(200)] NULL,
	[Roles_Remark] [dbo].[Name(200)] NULL,
	[AllowEdit] [dbo].[ID] NULL,
	[AllowDelete] [dbo].[ID] NULL,
	[SortCode] [dbo].[ID] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_ROLES] PRIMARY KEY NONCLUSTERED 
(
	[Roles_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'Roles_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父节点主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'Roles_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'条件限制' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'Role_Restriction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'Roles_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许编辑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'AllowEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'AllowDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统角色表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_Roles'
GO
INSERT [dbo].[Base_Roles] ([Roles_ID], [ParentId], [Roles_Name], [Role_Restriction], [Roles_Remark], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'd0533453-9cf8-459c-b28c-98cf397efaf1', N'0', N'总部公司', NULL, NULL, NULL, NULL, 1, 1, CAST(0x0000A19C011104F8 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
INSERT [dbo].[Base_Roles] ([Roles_ID], [ParentId], [Roles_Name], [Role_Restriction], [Roles_Remark], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'eb380de7-6054-4075-81c8-43eb8d117c0e', N'0', N'北京区域', NULL, NULL, NULL, NULL, 2, 1, CAST(0x0000A19C011104FC AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
INSERT [dbo].[Base_Roles] ([Roles_ID], [ParentId], [Roles_Name], [Role_Restriction], [Roles_Remark], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'6875a395-60e2-4b0a-a6b4-be25fe70230a', N'0', N'上海区域', NULL, NULL, NULL, NULL, 3, 1, CAST(0x0000A19C011CDD61 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
/****** Object:  Table [dbo].[Base_UserGroup]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_UserGroup](
	[UserGroup_ID] [dbo].[Name(50)] NOT NULL,
	[ParentId] [dbo].[Name(50)] NULL,
	[UserGroup_Code] [dbo].[Name(50)] NULL,
	[UserGroup_Name] [dbo].[Name(50)] NULL,
	[UserGroup_Remark] [dbo].[Name(200)] NULL,
	[AllowEdit] [dbo].[ID] NULL,
	[AllowDelete] [dbo].[ID] NULL,
	[SortCode] [dbo].[ID] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_USERGROUP] PRIMARY KEY NONCLUSTERED 
(
	[UserGroup_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'UserGroup_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父节点主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'UserGroup_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'UserGroup_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'UserGroup_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许编辑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'AllowEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'AllowDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组管理' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroup'
GO
INSERT [dbo].[Base_UserGroup] ([UserGroup_ID], [ParentId], [UserGroup_Code], [UserGroup_Name], [UserGroup_Remark], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'901659a9-e671-4b2f-b7fa-0d77144fb4c3', N'0', N'1000001', N'销售组', NULL, NULL, NULL, 1, 1, CAST(0x0000A1A7011B8CE2 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
INSERT [dbo].[Base_UserGroup] ([UserGroup_ID], [ParentId], [UserGroup_Code], [UserGroup_Name], [UserGroup_Remark], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'ccb4ba1b-1bc3-4980-b1d3-9b106406de52', N'0', N'1000002', N'开发组', NULL, NULL, NULL, 2, 1, CAST(0x0000A1A7011B8DED AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
INSERT [dbo].[Base_UserGroup] ([UserGroup_ID], [ParentId], [UserGroup_Code], [UserGroup_Name], [UserGroup_Remark], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'8860905d-ce51-4f14-83a6-1502abbd439d', N'0', N'1000003', N'网站组', NULL, NULL, NULL, 3, 1, CAST(0x0000A1A7011B8EB3 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL)
/****** Object:  Table [dbo].[Base_SysMenu]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_SysMenu](
	[Menu_Id] [dbo].[Name(50)] NOT NULL,
	[ParentId] [dbo].[Name(50)] NULL,
	[Menu_Name] [dbo].[Name(50)] NULL,
	[Menu_Title] [dbo].[Name(50)] NULL,
	[Menu_Img] [dbo].[Name(50)] NULL,
	[Menu_Type] [dbo].[ID] NULL,
	[NavigateUrl] [dbo].[Name(200)] NULL,
	[Target] [dbo].[Name(50)] NULL,
	[AllowEdit] [dbo].[ID] NULL,
	[AllowDelete] [dbo].[ID] NULL,
	[SortCode] [dbo].[ID] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NOT NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_SYSMENU] PRIMARY KEY NONCLUSTERED 
(
	[Menu_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'Menu_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父节点主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'Menu_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'Menu_Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'Menu_Img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'Menu_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导航地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'NavigateUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'Target'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许编辑 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'AllowEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'AllowDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysMenu', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
INSERT [dbo].[Base_SysMenu] ([Menu_Id], [ParentId], [Menu_Name], [Menu_Title], [Menu_Img], [Menu_Type], [NavigateUrl], [Target], [AllowEdit], [AllowDelete], [SortCode], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (N'3e544d7a-d850-4785-9648-feafc4698a3b', N'0', N'系统应用', N'系统应用', N'', 1, N'', N'Iframe', NULL, NULL, 1, 1, CAST(0x0000A1920145A430 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', CAST(0x0000A19D01158168 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Base_SysLoginlog]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_SysLoginlog](
	[SYS_LOGINLOG_ID] [dbo].[Name(50)] NULL,
	[SYS_LOGINLOG_IP] [dbo].[Name(50)] NULL,
	[SYS_LOGINLOG_TIME] [Date] NULL,
	[User_Account] [dbo].[Name(50)] NULL,
	[SYS_LOGINLOG_STATUS] [dbo].[ID] NULL,
	[OWNER_address] [dbo].[Name(200)] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录日志主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog', @level2type=N'COLUMN',@level2name=N'SYS_LOGINLOG_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog', @level2type=N'COLUMN',@level2name=N'SYS_LOGINLOG_IP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog', @level2type=N'COLUMN',@level2name=N'SYS_LOGINLOG_TIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录账户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog', @level2type=N'COLUMN',@level2name=N'User_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog', @level2type=N'COLUMN',@level2name=N'SYS_LOGINLOG_STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP所在地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog', @level2type=N'COLUMN',@level2name=N'OWNER_address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_SysLoginlog'
GO
INSERT [dbo].[Base_SysLoginlog] ([SYS_LOGINLOG_ID], [SYS_LOGINLOG_IP], [SYS_LOGINLOG_TIME], [User_Account], [SYS_LOGINLOG_STATUS], [OWNER_address]) VALUES (N'b65809f0-3b7b-44d1-b2f5-c93ef9afa12d', N'127.0.0.1', CAST(0x0000A1A601712D90 AS DateTime), N'system', 1, N'本机地址 CZ88.NET')
INSERT [dbo].[Base_SysLoginlog] ([SYS_LOGINLOG_ID], [SYS_LOGINLOG_IP], [SYS_LOGINLOG_TIME], [User_Account], [SYS_LOGINLOG_STATUS], [OWNER_address]) VALUES (N'2acba9e8-5fa7-4b6f-8ebd-56e753dd059a', N'127.0.0.1', CAST(0x0000A1A601712E06 AS DateTime), N'system', 1, N'本机地址 CZ88.NET')
INSERT [dbo].[Base_SysLoginlog] ([SYS_LOGINLOG_ID], [SYS_LOGINLOG_IP], [SYS_LOGINLOG_TIME], [User_Account], [SYS_LOGINLOG_STATUS], [OWNER_address]) VALUES (N'0e08fdaa-8e7a-4890-98d5-e2f36f55c512', N'127.0.0.1', CAST(0x0000A1A7000BC22F AS DateTime), N'system', 1, N'本机地址 CZ88.NET')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
/****** Object:  Table [dbo].[Base_UserInfo]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_UserInfo](
	[User_ID] [dbo].[Name(50)] NOT NULL,
	[User_Code] [dbo].[Name(50)] NULL,
	[User_Account] [dbo].[Name(50)] NULL,
	[User_Pwd] [dbo].[Name(50)] NULL,
	[User_Name] [dbo].[Name(50)] NULL,
	[User_Sex] [dbo].[ID] NULL,
	[Title] [dbo].[Name(50)] NULL,
	[Email] [dbo].[Name(20)] NULL,
	[Theme] [dbo].[Name(50)] NULL,
	[Question] [dbo].[Name(50)] NULL,
	[AnswerQuestion] [dbo].[Name(50)] NULL,
	[DeleteMark] [dbo].[ID] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
	[ModifyDate] [Date] NULL,
	[ModifyUserId] [dbo].[Name(50)] NULL,
	[ModifyUserName] [dbo].[Name(50)] NULL,
	[User_Remark] [dbo].[Name(Max)] NULL,
 CONSTRAINT [PK_BASE_USERINFO] PRIMARY KEY NONCLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户账户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_Pwd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别 1：男、0：女' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_Sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'职称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电子邮件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统样式选择' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'Theme'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码提示问题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'Question'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码提示答案' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'AnswerQuestion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记 1：正常，2：锁定，0：删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改用户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo', @level2type=N'COLUMN',@level2name=N'User_Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户帐户表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfo'
GO
INSERT [dbo].[Base_UserInfo] ([User_ID], [User_Code], [User_Account], [User_Pwd], [User_Name], [User_Sex], [Title], [Email], [Theme], [Question], [AnswerQuestion], [DeleteMark], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName], [User_Remark]) VALUES (N'304edebc-b49d-4162-b6d2-889defc8ab5c', N'120023', N'sa', N'4A7D1ED414474E4033AC29CCB8653D9B', N'小佘', 0, N'', N'', NULL, NULL, NULL, 1, CAST(0x0000A1B9018328C1 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)', NULL, NULL, NULL, N'')
/****** Object:  Table [dbo].[Base_UserGroupRight]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_UserGroupRight](
	[UserGroupRight_ID] [dbo].[Name(50)] NOT NULL,
	[UserGroup_ID] [dbo].[Name(50)] NULL,
	[Menu_Id] [dbo].[Name(50)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_USERGROUPRIGHT] PRIMARY KEY NONCLUSTERED 
(
	[UserGroupRight_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户组菜单关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserGroupRight'
GO
/****** Object:  Table [dbo].[Base_StaffOrganize]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_StaffOrganize](
	[StaffOrganize_Id] [dbo].[Name(50)] NOT NULL,
	[Organization_ID] [dbo].[Name(50)] NULL,
	[User_ID] [dbo].[Name(50)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_STAFFORGANIZE] PRIMARY KEY NONCLUSTERED 
(
	[StaffOrganize_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'职员组织关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_StaffOrganize'
GO
INSERT [dbo].[Base_StaffOrganize] ([StaffOrganize_Id], [Organization_ID], [User_ID], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'e25bbfe0-20ac-470f-895f-7a2eb6b69779', N'05e85693-14b0-4582-8063-8fbde85371f0', N'4baa8438-930f-4b02-8fc1-d67bd43d2fb0', CAST(0x0000A1B600B31B31 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_StaffOrganize] ([StaffOrganize_Id], [Organization_ID], [User_ID], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'41d0df30-fdde-4947-a005-afdb96872fb6', N'92dc218c-0f58-4aa2-9d05-ff5dffcb975f', N'4baa8438-930f-4b02-8fc1-d67bd43d2fb0', CAST(0x0000A1B600B31B31 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_StaffOrganize] ([StaffOrganize_Id], [Organization_ID], [User_ID], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'a5687af1-8552-491c-a17f-cd940d206f5d', N'05e85693-14b0-4582-8063-8fbde85371f0', N'48f3889c-af8d-401f-ada2-c383031af92d', CAST(0x0000A1B90187A1FF AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
/****** Object:  Table [dbo].[Base_RoleRight]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_RoleRight](
	[RoleRight_ID] [dbo].[Name(50)] NOT NULL,
	[Roles_ID] [dbo].[Name(50)] NULL,
	[Menu_Id] [dbo].[Name(50)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_ROLERIGHT] PRIMARY KEY NONCLUSTERED 
(
	[RoleRight_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统角色菜单关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_RoleRight'
GO
INSERT [dbo].[Base_RoleRight] ([RoleRight_ID], [Roles_ID], [Menu_Id], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'2cd72782-f0c6-417d-8b61-6ce9f15a4aa4', N'91cb3a48-87b0-41e5-b9b9-ed1af87a52c0', N'3e544d7a-d850-4785-9648-feafc4698a3b', CAST(0x0000A1B70181AE6F AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_RoleRight] ([RoleRight_ID], [Roles_ID], [Menu_Id], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'13da7fa6-eb94-48cb-a8e2-4f135b385bee', N'91cb3a48-87b0-41e5-b9b9-ed1af87a52c0', N'3885ba7f-c246-493f-9053-7aa70a642662', CAST(0x0000A1B70181AE6F AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_RoleRight] ([RoleRight_ID], [Roles_ID], [Menu_Id], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'fba9925b-96e1-45ef-91a9-2664362bc58b', N'91cb3a48-87b0-41e5-b9b9-ed1af87a52c0', N'c9d6878c-4f55-4787-af62-c73204c940e3', CAST(0x0000A1B70181AE6F AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Base_O_A_Setup]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_O_A_Setup](
	[Setup_ID] [dbo].[Name(50)] NOT NULL,
	[User_ID] [dbo].[Name(50)] NULL,
	[Setup_IName] [dbo].[Name(50)] NULL,
	[NavigateUrl] [dbo].[Name(200)] NULL,
	[Target] [dbo].[Name(50)] NULL,
	[Setup_Img] [dbo].[Name(50)] NULL,
	[Setup_Remak] [dbo].[Name(200)] NULL,
	[SortCode] [dbo].[ID] NULL,
 CONSTRAINT [PK_BASE_O_A_SETUP] PRIMARY KEY NONCLUSTERED 
(
	[Setup_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'快捷主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'Setup_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'User_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'快捷功能名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'Setup_IName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导航地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'NavigateUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'目标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'Target'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'Setup_Img'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'Setup_Remak'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序吗' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_O_A_Setup', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
INSERT [dbo].[Base_O_A_Setup] ([Setup_ID], [User_ID], [Setup_IName], [NavigateUrl], [Target], [Setup_Img], [Setup_Remak], [SortCode]) VALUES (N'fe9e86c2-7b0f-4083-ac58-d1f60bb552c0', N'48f3889c-af8d-401f-ada2-c383031af92d', N'菜单管理', N'/RMBase/SysMenu/Menu_List.aspx', N'Iframe', N'sitemap.png', N'', 1)
INSERT [dbo].[Base_O_A_Setup] ([Setup_ID], [User_ID], [Setup_IName], [NavigateUrl], [Target], [Setup_Img], [Setup_Remak], [SortCode]) VALUES (N'f8ed2183-aa0f-4e70-85e7-107a90ce3992', N'48f3889c-af8d-401f-ada2-c383031af92d', N'个人信息', N'/RMBase/SysPersonal/CurrentUserManager.aspx', N'Iframe', N'596.png', N'', 2)
INSERT [dbo].[Base_O_A_Setup] ([Setup_ID], [User_ID], [Setup_IName], [NavigateUrl], [Target], [Setup_Img], [Setup_Remak], [SortCode]) VALUES (N'8d054968-07fb-4c9a-b318-168c00feb8ee', N'48f3889c-af8d-401f-ada2-c383031af92d', N'登录信息', N'/RMBase/SysPersonal/Login_List.aspx', N'Iframe', N'316.png', N'', 3)
/****** Object:  Table [dbo].[Base_UserRole]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_UserRole](
	[UserRole_ID] [dbo].[Name(50)] NOT NULL,
	[User_ID] [dbo].[Name(50)] NULL,
	[Roles_ID] [dbo].[Name(50)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_USERROLE] PRIMARY KEY NONCLUSTERED 
(
	[UserRole_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户帐户角色关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserRole'
GO
/****** Object:  Table [dbo].[Base_UserRight]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_UserRight](
	[UserRight_ID] [dbo].[Name(50)] NOT NULL,
	[User_ID] [dbo].[Name(50)] NULL,
	[Menu_Id] [dbo].[Name(50)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_USERRIGHT] PRIMARY KEY NONCLUSTERED 
(
	[UserRight_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户帐户表菜单关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserRight'
GO
INSERT [dbo].[Base_UserRight] ([UserRight_ID], [User_ID], [Menu_Id], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'947e51d4-411d-4156-bb95-3543ca50332d', N'48f3889c-af8d-401f-ada2-c383031af92d', N'3e544d7a-d850-4785-9648-feafc4698a3b', CAST(0x0000A1B90187A1FF AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_UserRight] ([UserRight_ID], [User_ID], [Menu_Id], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'f1a0ac92-bba1-43e7-b55b-c420f45a843b', N'48f3889c-af8d-401f-ada2-c383031af92d', N'3885ba7f-c246-493f-9053-7aa70a642662', CAST(0x0000A1B90187A1FF AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_UserRight] ([UserRight_ID], [User_ID], [Menu_Id], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'b1fcf4b6-454f-433e-84f3-8691e1a9ffde', N'48f3889c-af8d-401f-ada2-c383031af92d', N'c9d6878c-4f55-4787-af62-c73204c940e3', CAST(0x0000A1B90187A1FF AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Base_UserInfoUserGroup]    Script Date: 05/15/2015 15:30:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Base_UserInfoUserGroup](
	[UserInfoUserGroup_ID] [dbo].[Name(50)] NOT NULL,
	[User_ID] [dbo].[Name(50)] NULL,
	[UserGroup_ID] [dbo].[Name(50)] NULL,
	[CreateDate] [Date] NULL,
	[CreateUserId] [dbo].[Name(50)] NULL,
	[CreateUserName] [dbo].[Name(50)] NULL,
 CONSTRAINT [PK_BASE_USERINFOUSERGROUP] PRIMARY KEY NONCLUSTERED 
(
	[UserInfoUserGroup_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户帐户用户组关系表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Base_UserInfoUserGroup'
GO
INSERT [dbo].[Base_UserInfoUserGroup] ([UserInfoUserGroup_ID], [User_ID], [UserGroup_ID], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'c4f9fab9-c7ee-40fc-98d6-73d442459d93', N'4baa8438-930f-4b02-8fc1-d67bd43d2fb0', N'ccb4ba1b-1bc3-4980-b1d3-9b106406de52', CAST(0x0000A1B600B31B31 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_UserInfoUserGroup] ([UserInfoUserGroup_ID], [User_ID], [UserGroup_ID], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'afc24a74-56e3-4139-a3a2-d09ddec8c5b2', N'48f3889c-af8d-401f-ada2-c383031af92d', N'ccb4ba1b-1bc3-4980-b1d3-9b106406de52', CAST(0x0000A1B90187A1FF AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
INSERT [dbo].[Base_UserInfoUserGroup] ([UserInfoUserGroup_ID], [User_ID], [UserGroup_ID], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (N'55856bf7-b9ac-4d94-afb7-032a8fa737b1', N'452865b1d31c', N'ccb4ba1b-1bc3-4980-b1d3-9b106406de52', CAST(0x0000A1B10157C5B7 AS DateTime), N'48f3889c-af8d-401f-ada2-c383031af92d', N'管理员(system)')
/****** Object:  Default [DF_Base_Button_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Button] ADD  CONSTRAINT [DF_Base_Button_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_Button_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Button] ADD  CONSTRAINT [DF_Base_Button_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_AppendProperty_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_AppendProperty] ADD  CONSTRAINT [DF_Base_AppendProperty_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_AppendProperty_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_AppendProperty] ADD  CONSTRAINT [DF_Base_AppendProperty_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_Recyclebin_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Recyclebin] ADD  CONSTRAINT [DF_Base_Recyclebin_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_Organization_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Organization] ADD  CONSTRAINT [DF_Base_Organization_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_Organization_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Organization] ADD  CONSTRAINT [DF_Base_Organization_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_Roles_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Roles] ADD  CONSTRAINT [DF_Base_Roles_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_Roles_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_Roles] ADD  CONSTRAINT [DF_Base_Roles_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_UserGroup_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserGroup] ADD  CONSTRAINT [DF_Base_UserGroup_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_UserGroup_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserGroup] ADD  CONSTRAINT [DF_Base_UserGroup_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_SysMenu_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_SysMenu] ADD  CONSTRAINT [DF_Base_SysMenu_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_SysMenu_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_SysMenu] ADD  CONSTRAINT [DF_Base_SysMenu_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_SysLoginlog_SYS_LOGINLOG_TIME]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_SysLoginlog] ADD  CONSTRAINT [DF_Base_SysLoginlog_SYS_LOGINLOG_TIME]  DEFAULT (getdate()) FOR [SYS_LOGINLOG_TIME]
GO
/****** Object:  Default [DF_Base_UserInfo_DeleteMark]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserInfo] ADD  CONSTRAINT [DF_Base_UserInfo_DeleteMark]  DEFAULT ((1)) FOR [DeleteMark]
GO
/****** Object:  Default [DF_Base_UserInfo_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserInfo] ADD  CONSTRAINT [DF_Base_UserInfo_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_UserGroupRight_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserGroupRight] ADD  CONSTRAINT [DF_Base_UserGroupRight_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_StaffOrganize_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_StaffOrganize] ADD  CONSTRAINT [DF_Base_StaffOrganize_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_RoleRight_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_RoleRight] ADD  CONSTRAINT [DF_Base_RoleRight_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_UserRole_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserRole] ADD  CONSTRAINT [DF_Base_UserRole_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_UserRight_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserRight] ADD  CONSTRAINT [DF_Base_UserRight_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_Base_UserInfoUserGroup_CreateDate]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserInfoUserGroup] ADD  CONSTRAINT [DF_Base_UserInfoUserGroup_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  ForeignKey [FK_Base_UserGroupRight_Base_UserGroup]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserGroupRight]  WITH CHECK ADD  CONSTRAINT [FK_Base_UserGroupRight_Base_UserGroup] FOREIGN KEY([UserGroup_ID])
REFERENCES [dbo].[Base_UserGroup] ([UserGroup_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_UserGroupRight] CHECK CONSTRAINT [FK_Base_UserGroupRight_Base_UserGroup]
GO
/****** Object:  ForeignKey [FK_Base_StaffOrganize_Base_Organization]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_StaffOrganize]  WITH CHECK ADD  CONSTRAINT [FK_Base_StaffOrganize_Base_Organization] FOREIGN KEY([Organization_ID])
REFERENCES [dbo].[Base_Organization] ([Organization_ID])
GO
ALTER TABLE [dbo].[Base_StaffOrganize] CHECK CONSTRAINT [FK_Base_StaffOrganize_Base_Organization]
GO
/****** Object:  ForeignKey [FK_Base_StaffOrganize_Base_UserInfo]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_StaffOrganize]  WITH CHECK ADD  CONSTRAINT [FK_Base_StaffOrganize_Base_UserInfo] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Base_UserInfo] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_StaffOrganize] CHECK CONSTRAINT [FK_Base_StaffOrganize_Base_UserInfo]
GO
/****** Object:  ForeignKey [FK_Base_RoleRight_Base_Roles]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_RoleRight]  WITH CHECK ADD  CONSTRAINT [FK_Base_RoleRight_Base_Roles] FOREIGN KEY([Roles_ID])
REFERENCES [dbo].[Base_Roles] ([Roles_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_RoleRight] CHECK CONSTRAINT [FK_Base_RoleRight_Base_Roles]
GO
/****** Object:  ForeignKey [FK_Base_O_A_Setup_Base_UserInfo]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_O_A_Setup]  WITH CHECK ADD  CONSTRAINT [FK_Base_O_A_Setup_Base_UserInfo] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Base_UserInfo] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_O_A_Setup] CHECK CONSTRAINT [FK_Base_O_A_Setup_Base_UserInfo]
GO
/****** Object:  ForeignKey [FK_Base_UserRole_Base_Roles]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserRole]  WITH CHECK ADD  CONSTRAINT [FK_Base_UserRole_Base_Roles] FOREIGN KEY([Roles_ID])
REFERENCES [dbo].[Base_Roles] ([Roles_ID])
GO
ALTER TABLE [dbo].[Base_UserRole] CHECK CONSTRAINT [FK_Base_UserRole_Base_Roles]
GO
/****** Object:  ForeignKey [FK_Base_UserRole_Base_UserInfo]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserRole]  WITH CHECK ADD  CONSTRAINT [FK_Base_UserRole_Base_UserInfo] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Base_UserInfo] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_UserRole] CHECK CONSTRAINT [FK_Base_UserRole_Base_UserInfo]
GO
/****** Object:  ForeignKey [FK_Base_UserRight_Base_UserInfo]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserRight]  WITH CHECK ADD  CONSTRAINT [FK_Base_UserRight_Base_UserInfo] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Base_UserInfo] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_UserRight] CHECK CONSTRAINT [FK_Base_UserRight_Base_UserInfo]
GO
/****** Object:  ForeignKey [FK_Base_UserInfoUserGroup_Base_UserGroup]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserInfoUserGroup]  WITH CHECK ADD  CONSTRAINT [FK_Base_UserInfoUserGroup_Base_UserGroup] FOREIGN KEY([UserGroup_ID])
REFERENCES [dbo].[Base_UserGroup] ([UserGroup_ID])
GO
ALTER TABLE [dbo].[Base_UserInfoUserGroup] CHECK CONSTRAINT [FK_Base_UserInfoUserGroup_Base_UserGroup]
GO
/****** Object:  ForeignKey [FK_Base_UserInfoUserGroup_Base_UserInfo]    Script Date: 05/15/2015 15:30:24 ******/
ALTER TABLE [dbo].[Base_UserInfoUserGroup]  WITH CHECK ADD  CONSTRAINT [FK_Base_UserInfoUserGroup_Base_UserInfo] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Base_UserInfo] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Base_UserInfoUserGroup] CHECK CONSTRAINT [FK_Base_UserInfoUserGroup_Base_UserInfo]
GO
