BODY {COLOR: #666}
UL, P{PADDING: 0px; MARGIN: 0px;}
A {COLOR: #333}
A:hover {COLOR: #e51a45; TEXT-DECORATION: none}

#imgPlay {
	MARGIN: 8px auto; OVERFLOW: hidden; WIDTH: 1002px; ZOOM: 1; POSITION: relative; HEIGHT: 400px;
}
#imgPlay .imgs img {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #dbdbdb 1px solid; WIDTH: 996px; PADDING-TOP: 1px; BORDER-BOTTOM: #dbdbdb 1px solid; height:396px;
}
#imgPlay .imgs li {
	FLOAT: left; POSITION: relative;
	height:396px;
}
#imgPlay .imgs {
	WIDTH: 6760px
}
#imgPlay .prev {
	BACKGROUND: url(../images/imgPlayer.png) no-repeat 0px 0px; LEFT: 1px; WIDTH: 46px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 110px; HEIGHT: 81px
}
#imgPlay .next {
	BACKGROUND: url(../images/imgPlayer.png) no-repeat 0px 0px; LEFT: 1px; WIDTH: 46px; CURSOR: pointer; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 110px; HEIGHT: 81px
}
#imgPlay .next {
	BACKGROUND-POSITION: right 0px; RIGHT: 1px; LEFT: auto
}
#imgPlay .num {
	DISPLAY: inline; LEFT: 400px; POSITION: absolute; TOP: 275px; HEIGHT: 19px
}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url(../images/imgPlayer.png) no-repeat -19px -83px; MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: 1px -83px
}
#imgPlay .num .lc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/lc.png) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 13px; PADDING-TOP: 3px; HEIGHT: 16px
}
#imgPlay .num .mc {
	BACKGROUND: url(../images/mc.png) repeat-x
}
#imgPlay .num .rc {
	BACKGROUND: url(../images/rc.png) no-repeat
}
#imgPlay #numInner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; POSITION: absolute; TOP: 275px; TEXT-ALIGN: center
}
